<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>455360497372-3r4vpjchafhp7f4o4rlgld0bdskm5jos.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.455360497372-3r4vpjchafhp7f4o4rlgld0bdskm5jos</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>455360497372-lf2nk0d3mvidg3if30imh1p0ns9rf930.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAuTiHHeOqZLTnJmkrXupWYB6F9Vq2bhRk</string>
	<key>GCM_SENDER_ID</key>
	<string>455360497372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.evoChat</string>
	<key>PROJECT_ID</key>
	<string>evochat-4c79e</string>
	<key>STORAGE_BUCKET</key>
	<string>evochat-4c79e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:455360497372:ios:791da37904e98b2b24d619</string>
</dict>
</plist>